[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["sheetfusion"]
exclude = ["__pycache__/*"]

[tool.hatch.build.targets.sdist]
packages = ["sheetfusion"]
exclude = ["__pycache__/*"]

[project]
name = "sheetfusion"
version = "1.0.5"
authors = [{ name = "Mohammad Znz", email = "s.mohammad.znz@gmail.com" }]
description = ""
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
dependencies = ["PyPDF3~=1.0.6", "rich~=13.7.0", "setuptools~=69.0.2"]


[project.urls]
"Homepage" = "https://github.com/SMZ70/SheetFusion"
"Bug Tracker" = "https://github.com/SMZ70/SheetFusion/issues"

[project.scripts]
sheetfusion = "sheetfusion:main"
