[buildout]
extends =
    https://raw.githubusercontent.com/IMIO/buildout.pm/master/communes-dev.cfg
    versions-dev.cfg

parts =
    zeoserver
    instance1
    test

develop = .

auto-checkout -=
    imio.pm.ws

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ipdb
    Products.PloneMeeting [test]
    imio.pm.ws [test]
    z3c.soap [test]

environment = testenv
initialization =
    sys.argv = sys.argv[:] + ['-s', 'imio.pm.ws']

[testenv]
zope_i18n_compile_mo_files = true
