[buildout]
extends =
    https://raw.githubusercontent.com/IMIO/buildout.pm/master/jenkins.cfg
    buildout.cfg

source-directory = ${buildout:directory}/src
eggs-directory = ${buildout:directory}/eggs

parts +=
    test-coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    set -e
    # important to use python 3 coveralls and python 2 coverage
    bin/coverage run --source=imio.pm.ws bin/test
    bin/coverage report
    coveralls
output = bin/test-coverage.sh
mode = 755